nav {
    padding-inline: 4rem;
    width: 100%;
    height: 15dvh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.nav-brand-text {
    font-size: 2rem;
    color: #E76903;
    font-weight: 700;
    font-style: italic;
    animation: riseIn 2s 5s;
}

.nav-brand-text span{
    color: #012060;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 8dvh;
    animation: fadeIn 2s 5s;
    justify-content: space-between;
}

.nav-item {
    position: relative;
}

.nav-link {
    text-align: center;
    font-weight: 600;
    color: #012060;
    text-decoration: none;
    transition: transform 0.2s ease;
    position: relative;
    padding: 5px;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:active {
    color: #E76903;
}

.nav-link span {
    color: #E76903;
    font-style: italic;
}

.nav-link::after {
    width: 0;
    left: 50%;
    bottom: 0;
    content: '';
    height: 4px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    background-color: #E76903;
    transition: 0.3s width;
}

.nav-link:hover {
    transform: translateY(-0.2rem);
}

.nav-link:hover::after{
    width: 70%
}

.sub-nav {
    top: 2rem;
    padding: 0;
    opacity: 0;
    width: 16dvw;
    overflow: hidden;
    list-style: none;
    position: absolute;
    border-radius: 5px;
    visibility: hidden;
    transition: width 0.3s ease, opacity 0.3s linear, visibility 0.3s ease;
    background-color: #ffffff;
}

.sub-nav-item {
    width: 100%;
    height: 3rem;
    border-radius: 2px;
}

.sub-nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 600;
    color: #101010;
    border-radius: 2px;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    padding-left: 0.5rem;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.sub-nav-link:hover {
    color: #E76903;
    padding-left: 1rem;
    background-color: #012060;
}

.nav-item:hover .sub-nav,
.nav-item:focus .sub-nav {
    opacity: 1;
    visibility: visible;
    animation: sub-nav-slide 0.3s ease;
}