* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}

header {
    height: 100dvh;
    position: relative;
}

.background-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.header-text {
    top: 50%;
    font-weight: 700;
    position: absolute;
    animation: fadeIn 2s;
    margin-inline-start: 4rem;
    transform: translateY(-50%);
}

.header-title {
    font-size: 4rem;
    color: #012060;
    font-family: 'Unbounded';
}

.header-tagline {
    font-size: 4rem;
    color: #E76903;
    font-weight: 900; 
    font-family: 'Unbounded';
}

#services {
}

.services-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-header {
    height: 20%;
}

.services-heading {
    font-size: 3rem;
    color: #000000;
    font-weight: 700;
    font-family: 'Unbounded';
    border-left: 1rem solid #9205a5;
}

.services-tagline {
    color: #000000;
}

.services-tagline span {
    font-weight: 600;
    color: #9205a5;
    font-weight: 700;
    line-height: 2rem;
}

.services-grid {
    height: 65dvh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    color: #444;
}

.box {
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box:hover .box-img {
    transform: scale(1);
}

.box:hover .box-text {
    margin-left: 2rem;
}

.box::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, #00000000, #00000091)
}

.website-box {
    grid-column: 1 / span 2;
}

.vCard-box {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #9205a5;
}

.vCard-img {
    height: 70%;
}

.brand-box {
    grid-column: 1 ;
    grid-row: 2 ;
}
  
.logo-box {
    grid-column: 2 ;
    grid-row: 2 ;
}

.box-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.2);
    object-position: center;
    transition: transform 0.5s ease;
}

.box-text {
    z-index: 2;
    bottom: 0;
    color: #ffffff;
    position: absolute;
    font-weight: 600;
    transition: margin 0.5s ease;
}

.box-description {
    font-weight: 700;
    font-size: 1.2rem;
}

#contact {
    height: 100dvh;
}

.contact-container {
    gap: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact-details {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.contact-details::before {
    inset: 0;
    width: 100%;
    content: '';
    z-index: -1;
    position: absolute;
    background: linear-gradient(to top, transparent, #00000060)
}

.contact-img {
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    position: absolute;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.contact-details:hover .contact-img{
    transform: scale(1);
}

.contact-form {
    height: 100%;
}

.contact-header {
    color: #ffffff;
    border-left: 1rem solid #9205a5;
}

.contact-letter {
    font-size: 1.1rem;
    color: #ffffff;
}

form {
    height: 100%;
}

.form-row {
    width: 100%;
    display: flex;
}

.form-block {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form-row:not(:nth-last-child(1)) {
    height: 25%;
}

.form-row:nth-last-child(1) {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

label {
    font-size: 1.2rem;
}

input, textarea{
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    caret-color: #9205a5;
    margin-inline-end: 1rem;
    padding-inline-start: 1rem;
    border-bottom: 2px dotted #9205a5;
}

input {
    height: 3rem;
}

.message-block{
    width: 100%;
}

.message-row{
    width: 100%;
    position: relative;
}

textarea {
    width: 90%;
    height: 100%;
}

#contact-submit {
    bottom: 0;
    width: 100%;
    height: 3rem;
    border: none;
    grid-column: 2;
    color: #ffffff;
    position: absolute;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease, transform 0.2s ease;
    background-color: #9205a5;
}

#contact-submit:hover {
    transform: translate3d(0, -1rem, 0);
    background-color: #6e007c;
}